{{!-- <ul class="*">
  <li><a href="/stories">Party supplies</a></li>
  <li><a href="/dashboard">{{name}}'s Storage</a></li>

  <li><a href="/home">Spells & Combat Rules</a></li>
  {{! <li><a href="/conditions">conditions</a></li> }}
  <li><a href="/marketPlace">Market & Conditions</a></li>
  <li><a href="/journal">Maps</a></li>
  <li><a href="/character">Character</a></li>
  <br />
  <br />
  <li><a href="/auth/logout">Logout</a></li>

</ul>
 --}}


<div class="navbar">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
</div>