{{! <p>this will need to be multiple pages and will have add / delete / update certain character aspects character
  choice
  screen, if character then first option shows availble characters, second option is an add button to make new
  character, once you go through the add character page then if should input that data into a character sheet and
  redirect you to that page and once that data is in the data base there should be a card of somekind on the add page
  to represent character</p> }}

<form class="pure-form">
  <ul class="lookList">
    <button
      id="firstLook"
      onclick="myFunction()"
      data-toggle="modal"
      type="submit"
    >
      <span>
        Look for all races
      </span>
    </button>
    <span id="hiddenDiv" hidden>

      <button
        onclick="hideMeClick()"
        id="showThis"
        type="button"
        class="grab btn btn-secondary"
        data-dismiss="modal"
      >
        Close
      </button>

    </span>
  </ul>
</form>

<div class="raceListContainer">

  <ol class="myList" id="raceList">
    {{!
     <button id="i" onclick="pickRace(i)" class='pickedRace'>
      <span>
        raceName
        </span>
    </button>
    <span id="raceStats">

    </span>
     }}
  </ol>

</div>

<div class="stats">Roll four 6 sided dice and add together the highest three do
  this for each of the 6 stats USE REAL DICE!
</div>
<table>
  <tr>
    <th>Main Stats </th>
    <th>Sub Stats</th>

  </tr>
  <tr>
    <td>Strength </td>
    <td>Athletics</td>

  </tr>
  <tr>
    <td>Dexterity </td>
    <td>Acrobatics, Sleight of Hand, Stealth</td>

  </tr>
  <tr>
    <td>Constitution</td>
    <td> adds to Current Hit Points </td>

  </tr>
  <tr>
    <td>Intelligence</td>
    <td>Arcana, History, Investigation, Nature, Religion, </td>

  </tr>
  <tr>
    <td>Wisdom</td>
    <td>Animal Handling, Insight, Medicine, Perception, Survival</td>

  </tr>
  <tr>
    <td>Charisma</td>
    <td>Deception, Intimidation, Performance</td>

  </tr>
</table>

<div class="level">level</div>
<div class="race">race = {{name}} </div>
<div class="class">class</div>