<h2>Character :
    <form action="*" method="get"><input type="text" value="{{name}}"></form>
</h2>

<div class="stats">Roll four 6 sided dice and add together the highest three do this for each of the 6 stats
</div>
<table>
    <tr>
        <th>Company</th>
        <th>Contact</th>

    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>

    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>

    </tr>
    <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>

    </tr>
    <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>

    </tr>
    <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>

    </tr>
    <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>

    </tr>
</table>

<div class="leve">level</div>


<div class="race">race</div>



<div class="class">class</div>


<p>this will need to be multiple pages and will have add / delete / update certain character aspects character choice
    screen, if character then first option shows availble characters, second option is an add button to make new
    character, once you go through the add character page then if should input that data into a character sheet and
    redirect you to that page and once that data is in the data base there should be a card of somekind on the add page
    to represent character</p>
{{!-- <title>Shop</title>
<h1>Market Place</h1>
<div class="marketContainer"> --}}
<!-- <p><b>Name:</b></span></p> -->
<!-- <p><b>Price: </b><span id="itemPrice"></span></p>
      <p><b>Weight: </b><span id="itemWeight"></span></p> -->

<!-- <p><b>description 1: </b><span id="description1"></span></p> -->
<!-- <p><b>description 2: </b><span id="description2"></span></p>
      <p><b>description 3: </b><span id="description3"></span></p> -->

{{!-- <div>
        <form hidden class="form" id="equipmentForm">
            <input type="text" id="equipmentInput" placeholder="equipment-name" />
            <input type="submit" id="spellSubmit" onclick="spellSearch()" />
        </form> --}}

<!--boot strap card -->


<!--end of boot strap card-->

<!-- <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalLong"
        >
          shop List
        </button> -->


<div class="input-field col s12">
    <select>
        <option value="" selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
</div>