<div class="bodyContainer">
  <!--boot strap card -->
  <h1>
    Spell Book
  </h1>
  <div class="card">
    <div class="card-header">
      <p><b>Spell Name:</b> <span id="fetchData"></span></p>
    </div>
    <div class="card-body">



      <!-- <p class="card-text">
          <b>Price: </b><span id="itemPrice"></span>
          <br>
          <p><b>Weight: </b><span id="itemWeight"></span></p>
        </p> -->
      <!-- <b> 
        
        <span class="card-title">
          description 1:
        </span></b>-->
      <!-- <span id="description1"></span><br>
          <b>description 2: </b></br><span id="description2"></span><br>
          <b>description 3:</b> <span id="description3"></span></br> -->
      <!-- <p><b> Page: </b><span id="fetchData3"></span></p> -->
      <!-- <p><b> Name: </b><span id="fetchData4"></span></p> -->
      <p><b>Level: </b><span id="fetchData5"></span></p>
      <p><b>Material Needed: </b><span id="fetchData6"></span></p>
      <p><b>Casting Time: </b><span id="fetchData7"></span></p>
      <p><b> Duration:</b> <span id="fetchData8"></span></p>
      <p><b> Concentration: </b><span id="fetchData9"></span></p>
      <p><b> Spell Range : </b><span id="fetchData10"></span></p>
      <p><b> Spell Summary: </b><span id="fetchData11"></span></p>
      <p><b> Higher Level: </b><span id="fetchData12"></span></p>

      <button onclick="myFunction()" type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalLong">
        spell List
      </button>
      <!-- <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModalLong"
      >
        shop List
      </button> -->
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <!--end of boot strap card-->

  <div class="spellBookContainer">
    <!-- <p><b>from whole list: </b><span id="fetchData2"></span></p> -->

    <!-- <h3>Spell Finder</h3> -->
    <form hidden class="form" id="spellForm">
      <input type="text" id="spellInput" placeholder="spell-name" />
      <!-- <input type="submit" id="spellSubmit" onclick="spellSearch()" /> -->
    </form>
    <br />
    <!-- <button onclick="spellB()">cast spell</button> -->
    <!-- Button trigger modal -->
  </div>
  <!-- Modal -->

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">


      <div id="modalSpellList" class="modal-body" hidden>

        <div class="modal-content">
          {{!-- <div class="modal-header"> --}}
          <!-- <h5 class="modal-title" id="exampleModalLongTitle">
                Modal title
              </h5> -->
          {{!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          close
        </button> --}}


          {{!-- </div> --}}

          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>

          <ol id="spellList"></ol>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <!-- ... -->
        </div>
        {{!-- <div class="modal-footer"> --}}


        <script>
          function myFunction() {
            document.getElementById("modalSpellList").removeAttribute("hidden");
          }
        </script>

        <!-- <button type="button" class="btn btn-primary">
                Save changes
              </button> -->
        {{!-- </div> --}}
      </div>
    </div>
  </div>
  <h1>
    Combat & Actions
  </h1>
  <div class="tips">
    <h2>
      Initiative
    </h2>
    <span>
      Dexterity Check + modifier
    </span>
    <h2>
      Actions you can take instead of attacking or moving:
    </h2>
    <span>
      Dash, Help (give someone advantage on a Check or Attack), Hide,
      Search, Grapple, Disengage, Use Object, Ready action, Shove, Dodge,
      Escape, Spell, Improv
    </span>
    <h2>
      Hide specifics:
    </h2>
    <p>
      if in combat you must disengage first, if enemy is looking for you do
      Stealth v enemy perception roll, if enemy is not looking Stealth v
      Passive perception
    </p>

    <h2>
      To Hit Creature:
    </h2>
    <span>
      D20 roll + Ability Modifier + Proficiency Bonus
    </span>
    <h2>
      Damage Roll:
    </h2>
    <span>
      Damage Dice + Ability Modifier
    </span>
    <h2>
      Two-Weapon Fighting:
    </h2>
    <span>
      must be light weapon, second attack is a bonus attack, you do not add
      ability modifier to the damage output of the second attack
    </span>
    <h2>
      Spell casting attack rolls:
    </h2>
    <span>
      d20 + spell-casting ability modifier + proficiency bonus (Wizard-Int
      || Clerics, Druids, Rangers-Wis || Bards, Paladins, Sorcerers,
      Warlocks-Char)
    </span>

    <h2>
      Spell Saving Throw:
    </h2>
    <span>
      DC = 8 + spellcasting ability modifier + proficiency bonus
    </span>

    <h2>
      Cover
    </h2>
    <span>
      <b> 1/2 cover</b> = +2 AC and DEX saving throws / <b> 3/4 cover </b>=
      +5 AC and DEX saving throws / <b> Total cover</b> = can't be directly
      targeted with spells or attacks
    </span>
    <h2>
      RESTING
    </h2>
    <span>
      <b> Short</b> = at least 1hr, use hit dice to regain lost hit points /
      <b> Long </b>= 8hrs regain all hit points all spell slots and up to
      half of your health hit dice
    </span>
    <h2></h2>
    <span> </span>
  </div>
</div>