<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/spellBook.css" />

    <script type="text/javascript" src="../extras/jquery.min.1.7.js"></script>
    <script type="text/javascript"
            src="../extras/jquery-ui-1.8.20.custom.min.js"></script>

    <title>DND 5e Spell Book</title>
</head>




<body>



    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light col-xl-8 col-md-9 col-sm-10 col-11 mt-2 mx-auto fixed-top" id="mnav">
            <a class="text-black navbar-brand smooth-scroll" href="#">

                <!--<img src="#" class="img-fluid align-bottom netsolus-brand">
                </a>-->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#da-navbarNav" aria-controls="da-navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navToggler">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="da-navbarNav">
                    <div class="col-12 col-lg-11 col-xl-10 text-uppercase mt-3 mt-lg-0 mr-lg-0 ml-lg-auto">

                        <ul class="navbar-nav nav-pills nav-fill ml-auto align-items-center">
                            <li class="nav-item my-lg-auto">

                                <a class="nav-link ns-sec-link smooth-scroll px-2 py-1 mb-3 my-lg-auto ml-lg-1 active" id="nav-begin" href="#">
                                    Home
                                </a>
                            </li>

                            <li class="nav-item my-lg-auto">
                                <a class="nav-link ns-sec-link smooth-scroll px-2 py-1 mb-3 my-lg-auto ml-lg-1" id="nav-about" href="#">
                                    stuff 1
                                </a>
                            </li>

                            <li class="nav-item my-lg-auto">
                                <a class="nav-link ns-sec-link smooth-scroll px-2 py-1 mb-3 my-lg-auto ml-lg-1" id="nav-services" href="#">
                                    stuff 2
                                </a>
                            </li>

                            <li class="nav-item my-lg-auto">
                                <div class="btn-group">
                                    <a class="nav-link dropdown-toggle py-1 mb-3 my-lg-auto px-2 px-lg-none ns-sec-link" data-toggle="dropdown" id="nav-breakdown" href="#">
                                        stuff 3 / drop down
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right text-center ns-nav-dropdown">
                                        <a class="dropdown-header h6 font-weight-light text-muted smooth-scroll" href="#">
                                            drop down item 1
                                        </a>
                                        <div class="dropdown-divider" type="button">

                                        </div>

                                        <a class="dropdown-item text-secondary" href="#">
                                            Drop Down 2
                                        </a>

                                        <a class="dropdown-item text-secondary" href="#">
                                            Drop Down 3
                                        </a>

                                        <a class="dropdown-item text-secondary" href="#">
                                            DD 4
                                        </a>
                                        <a class="dropdown-item text-secondary" href="#">
                                            DD 5
                                        </a>
                                        <a class="dropdown-item text-secondary" href="#">
                                            DD 6
                                        </a>
                                        <!-- <a class="dropdown-item text-secondary" href="sms.html">SMS Marketing</a> -->
                                    </div>
                                </div>
                            </li>

                            <!--<li class="nav-item my-lg-auto">
                            <a class="nav-link ns-sec-link smooth-scroll px-2 py-1 mb-3 my-lg-auto ml-lg-1" id="nav-contact" href="#">
                                stuff 4
                                </a></li>-->
                            <!--<li class="nav-item my-lg-auto">
                                <div class="btn-group">
                                    <a class="nav-link dropdown-toggle py-1 mb-3 my-lg-auto px-2 px-lg-none ns-sec-link" data-toggle="dropdown" id="nav-client" href="#">
                                    2nd drop down
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right text-center ns-nav-dropdown">
                                        <a class="dropdown-item text-secondary" href="#">
                                        dd1
                                        </a>
                                        <a class="dropdown-item text-secondary" href="#">
                                        dd2
                                        </a>

                                    </div>
                                </div>
                            </li>-->
                        </ul>
                    </div>
                </div>
        </nav>
        <!--<style onload="headerLoadEvent()"></style>-->
    </div>
    <div class="bodyContainer">


        <h1>
            DND 5e Spell Book
        </h1>
        <p><b>from whole list: </b><span id="fetchData2"></span></p>
        <p><b>Index:</b> <span id="fetchData"></span></p>
        <p><b> Page: </b><span id="fetchData3"></span></p>
        <p><b> Name: </b><span id="fetchData4"></span></p>
        <p><b>Level: </b><span id="fetchData5"></span></p>
        <p><b>Material Needed: </b><span id="fetchData6"></span></p>
        <p><b>Casting Time: </b><span id="fetchData7"></span></p>
        <p><b> Duration:</b> <span id="fetchData8"></span></p>
        <p><b> Concentration: </b><span id="fetchData9"></span></p>
        <p><b> Spell Range : </b><span id="fetchData10"></span></p>
        <p><b> Spell Summary: </b><span id="fetchData11"></span></p>
        <p><b> Higher Level: </b><span id="fetchData12"></span></p>

        <h3>Spell Finder</h3>
        <form class="form" id="spellForm">
            <input type="text" id="spellInput" placeholder="spell-name" />
            <!-- <input type="submit" id="spellSubmit" onclick="spellSearch()" /> -->
        </form>

        <br />

        <!-- <button onclick="spellB()">cast spell</button> -->
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModalLong">
            spell List
        </button>

        <!-- Modal -->
        <div class="modal fade"
             id="exampleModalLong"
             tabindex="-1"
             role="dialog"
             aria-labelledby="exampleModalLongTitle"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <li id="spellList"></li>
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h2>
                Actions you can take instead of attacking or moving:
            </h2>
            <span>
                Dash, Help, Hide , Search, Grapple, Disengage, Use Object, Ready action, Shove, Dodge, Escape, Spell, Improv
            </span>
            <h2>
                To Hit Creature:
            </h2>
            <span>
                D20 roll + Ability Modifier + Proficiency Bonus
            </span>
            <h2>
                Damage Roll:
            </h2>
            <span>
                Damage Dice + Ability Modifier
            </span>
            <h2>
                Spell casting attack rolls:
            </h2>
            <span>
                d20 + spellcasting ability modifier + profieciency bonus
            </span>

            <h2>
                Spell Saving Throw:
            </h2>
            <span>
                DC = 8 + spellcasting ability modifier + proficiency bonus
            </span>
            <h2>
                Hide specifics: 
            </h2>
            
                <p>if in combat you must disengage first, if enemy is looking do Stealth v perception, if enemy is not looking Stealth v Passive perception </p>
            
            <h2>
            </h2>
            <span>

            </span>
            <h2>
            </h2>
            <span>

            </span>
            <h2>
            </h2>
            <span>

            </span>
            <h2>
            </h2>
            <span>

            </span>

        </div>


    </div>




    <!--====================================================================================-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="javascript/azmodious.js"></script>
</body>
</html>
