<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/spellBook.css" />

    <script type="text/javascript" src="../extras/jquery.min.1.7.js"></script>
    <script
      type="text/javascript"
      src="../extras/jquery-ui-1.8.20.custom.min.js"
    ></script>

    <title>DND 5e Spell Book</title>
  </head>
  <body>
    <h1>
      DND 5e Spell Book
    </h1>

    <p><b>from whole list: </b><span id="fetchData2"></span></p>
    <p><b>Index:</b> <span id="fetchData"></span></p>
    <p><b> Page: </b><span id="fetchData3"></span></p>
    <p><b> Name: </b><span id="fetchData4"></span></p>
    <p><b>Level: </b><span id="fetchData5"></span></p>
    <p><b>Material Needed: </b><span id="fetchData6"></span></p>
    <p><b>Casting Time: </b><span id="fetchData7"></span></p>
    <p><b> Duration:</b> <span id="fetchData8"></span></p>
    <p><b> Concentration: </b><span id="fetchData9"></span></p>
    <p><b> Spell Range : </b><span id="fetchData10"></span></p>
    <p><b> Spell Summary: </b><span id="fetchData11"></span></p>
    <p><b> Higher Level: </b><span id="fetchData12"></span></p>

    <h3>Spell Finder</h3>
    <form class="form" id="spellForm">
      <input type="text" id="spellInput" placeholder="spell-name" />
      <!-- <input type="submit" id="spellSubmit" onclick="spellSearch()" /> -->
    </form>

    <br />

    <!-- <button onclick="spellB()">cast spell</button> -->

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModalLong"
    >
      spell List
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalLong"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLongTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <li id="spellList"></li>

            ...
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!--====================================================================================-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/azmodious.js"></script>
  </body>
</html>
