/* body {
  background-color: rgb(146, 219, 191);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
}
.journalContainer {
  width: 100%;
  height: auto;
  padding: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/cities/zoomedOutCapitalCity.jpg");
}
img {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.scrollBack {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/battleMaps/scrollBackground.jpg");
  opacity: 0.7;
  color: black;
}
p {
  padding: 15px;
  font-size: 18px;
  font-weight: 900;
  color: black;
  opacity: 1 !important;
  border: solid rgb(126, 10, 33) 10px;
}
h1 {
  font-family: "Tangerine", cursive;
  color: white;
  text-align: center;
  font-size: 5em;
  font-weight: 900;
}

.scroll-box {
  height: 400px;
  overflow-y: scroll;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
} */
