body {
  /* background-color: rgb(146, 219, 191); */
  /* background-image: url("../img/background.jpg"); The image used */

  height: 100%;
  /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url("../images/cities/Molnar'sCreepyShop.jpg");
}
button {
  margin: 4px;
}
h1 {
  font-family: "Tangerine", cursive;
  color: white;
  text-align: center;
  font-size: 5em;
  font-weight: 900;
}
.pickedEquipment {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.marketContainer {
  padding: 25px;
}
.card {
  /* margin-top: 5%;
  margin-left: 15%;
  margin-right: 25%; */
  background-image: url("../images/battleMaps/scrollBackground.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.55rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  border-top: solid firebrick 5px;
  border-bottom: solid firebrick 5px;
}
.modal-content {
  background-image: url("../images/battleMaps/scrollBackground.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0rem;
}
.close {
  /* float: right; */
  float: left;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 #fff;
  /* background-color: green; */
  opacity: 1;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 80% !important;
  width: 95% !important;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  z-index: 1000 !important;
}
