/* body {
  background-color: rgb(146, 219, 191);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/cities/capitalCityWaterFront.jpg");
}
h1 {
  font-family: "Tangerine", cursive;
  color: white;
  text-align: center;
  font-size: 5em;
  font-weight: 900;
}
.card {
  margin: 5%;

  background-image: url("/images/battleMaps/scrollBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.55rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  border-top: solid firebrick 5px;
  border-bottom: solid firebrick 5px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;

  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-content,
.modal {
  background-image: url("/images/battleMaps/scrollBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;

  outline: 0;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0rem;
}
.close {
  float: left;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 #fff;

  opacity: 1;
}

.spellBookContainer {
  padding: 25px;
}

@media (max-width: 993px) {
  .bodyContainer {
    margin-top: 50px;
  }
}

#spellList li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
  list-style-type: decimal;
  border-bottom: 1px solid #ddd;
}
#azmodious {
  box-shadow: 0 8px 16px 0 #eb69a7, 0 6px 20px 0 rgba(243, 6, 6, 0.979);
  border: none;
}
#azmodious:hover {
  opacity: 0.5;
}

.skills ol li {
  color: black;
}
img {
  height: 550px;
  width: 350px;
  float: right;
  background-color: gray;
}
header {
  text-align: center;
}
#spell-book {
  border-radius: 50%;
}
button {
  margin: 4px;
}
.pickedSpell {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}
.tips {
  padding: 35px;
  margin: 5%;
  background-image: url("/images/battleMaps/scrollBackground.jpg");
  opacity: 0.7;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: black;
}

.navbar-nav .dropdown-menu {
  background-color: rgba(195, 163, 222, 0.93);
}

.dropdown-menu {
  border: 5px solid rgba(224, 85, 85, 0.98) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
} */
