<h3>Add Money to Purse</h3>
<div class="row">
    <form action="/purse" method="POST" class="col s12">

        <div class="row">

            <div class="input-field">
                <input type="number" id="platinum" name="platinum">
                <label for="platinum">Platinum</label>
            </div>

            <div class="input-field">
                <input type="number" id="gold" name="gold">
                <label for="gold">add gold</label>
            </div>

            <div class="input-field">
                <input type="number" id="silver" name="silver">
                <label for="silver">add silver</label>
            </div>

            <div class="input-field">
                <input type="number" id="copper" name="copper">
                <label for="copper">add copper</label>
            </div>

        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>