body {
  background-color: rgb(146, 219, 191);
  /* background-image: url("../img/background.jpg"); The image used */

  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
h1 {
  text-align: center;
}
.journalContainer {
  /* height: 1200px; */
  width: 100%;
  height: auto;
  /* padding: 15px; */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("../images/cities/blueSkyKingdom.jpg");

}
img {
  /* height: 1200px; */
  width: 100%;
  height: auto;
  /* padding: 15px; */

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background-image: url(../images/cities/RenderedImage.jpg); */
}
p {
  background-color: rgba(146, 219, 191, 0.5);
  padding: 15px;
  font-size: 18px;
  font-weight: 900;
  /* opacity: 0.5; */
}
h1 {
  font-family: "Tangerine", cursive;
  color: rgb(161, 54, 54);
  text-align: center;
  font-size: 5em;
  font-weight: 900;
}
