body {
  background-color: rgb(146, 219, 191);
  /* background-image: url("../img/background.jpg"); The image used */

  height: 100%;
  /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url("../images/cities/capitalCityWaterFront.jpg");
}
h1 {
  font-family: "Tangerine", cursive;
  color: white;
  text-align: center;
  font-size: 5em;
  font-weight: 900;
}
.card {
  margin: 5%;
  /* margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%; */
  background-image: url("../images/battleMaps/scrollBackground.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.55rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  border-top: solid firebrick 5px;
  border-bottom: solid firebrick 5px;
}
.modal-content {
  background-image: url("../images/battleMaps/scrollBackground.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0rem;
}
.close {
  /* float: right; */
  float: left;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 #fff;
  /* background-color: green; */
  opacity: 1;
}

/* .bodyContainer{
    margin-top:150px;
} */
.spellBookContainer {
  padding: 25px;
}

@media (max-width: 993px) {
  .bodyContainer {
    margin-top: 50px;
  }
}

#spellList {
  border: 1px solid #ddd;
}
#spellList li {
  /* height:100%; */
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
  list-style-type: decimal;
  border-bottom: 1px solid #ddd;
}
#azmodious {
  box-shadow: 0 8px 16px 0 #eb69a7, 0 6px 20px 0 rgba(243, 6, 6, 0.979);
  border: none;
}
#azmodious:hover {
  opacity: 0.5;
}

.skills ol li {
  color: black;
}
img {
  height: 550px;
  width: 350px;
  float: right;
  background-color: gray;
}
header {
  text-align: center;
}
#spell-book {
  border-radius: 50%;
}
button {
  margin: 4px;
}
.pickedSpell {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.tips {
  padding: 35px;
  margin: 5%;
  background-image: url("../images/battleMaps/scrollBackground.jpg");
  opacity: 0.7;
  border-radius: 6px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* font-family: "Tangerine", cursive; */
  color: black;
  /* text-align: center; */
  /* background-color: rgb(146, 219, 191); */
  /* font-size: 2em; */
  /* font-weight: 700; */
}

/* ================== nav bar ====================*/

/*.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 1px;
    font-size: 0.95rem;
}*/

/*.navbar {
    background-color: #a4e0a900 !important; /*Dark: 1a1a1a00
    transition: all .7s;
    border-radius: 11px;
     padding-left: 10px; 
}
*/

.navbar-nav .dropdown-menu {
  /*position: static;
    float: none;*/
  /*background-color: azure;*/
  background-color: rgba(195, 163, 222, 0.93);
  /*color: #ffffffee;*/
}

.dropdown-menu {
  border: 5px solid rgba(224, 85, 85, 0.98) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
  /*background-color: rgb(146, 219, 191);*/
}
