<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="../css/conditions.css" />
    <link rel="stylesheet" type="text/css" href="../css/nav.css" />
    <script type="text/javascript" src="../extras/jquery.min.1.7.js"></script>
    <script
      type="text/javascript"
      src="../extras/jquery-ui-1.8.20.custom.min.js"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Tangerine&display=swap"
      rel="stylesheet"
    />
    <title>Conditions</title>
  </head>

  <body>
    <nav id="navbar">
      <div class="logo">
        <span>The Vagabond's Almanac to DND</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="../index.html">Spells</a>
        </li>

        <li>
          <a href="#">
            conditions
          </a>
        </li>

        <li>
          <a href="./journal.html">Journal</a>
        </li>
        <li>
          <a href="../html/marketPlace.html">Market Place </a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <h1>Conditions</h1>
    <div class="conditions">
      <div class="deathThrows">
        <b> Death Saving Throw</b>: roll a flat d20 no modifier, three rolls
        above 10 stabilizes, three rolls under 10 you die, roll a 1 counts as 2
        fails, roll 20 automatically alive with 1 hp, damage past 0 that equals
        your full health auto death, party member can administer first aid to
        stabilize must roll DC 10 or hirer Wisdom / Medicine check + modifier,
        if stabilized you remain at 0 hp and stay unconscious but no longer need
        to roll death saving throws
      </div>
      <div class="food">
        <b> Food </b>: Can survive with out food for 3 days + Con Mod, beyond
        that you become "exhausted"
      </div>
      <div class="water">
        <b> Water</b>: 1 - 2 gallons per day depending on heat, after that must
        make DC 15 Con saving throw, or become increasingly "exhausted" per day
        with out water
      </div>
      <div class="falling">
        <b>Falling</b>: 1d6 bludgeoning damager per 10ft max 20d6, lands prone
      </div>
      <div class="suffocating">
        <b>Suffocating</b>: can hold breath for 1min + Con mod past that can
        survive rounds equal to con mod before dying flat out
      </div>

      <div class="blinded">
        <b>Blinded</b> attacks on creature have advantage, blinded has
        disadvantage, automatically fail ability checks that require sight
      </div>
      <div class="charmed">
        <b>Charmed</b>can't target the charmer with attacks, ability's or
        spells, charmer has advantage against charmed person
      </div>
      <div class="deafened">
        <b>Deafened</b>fails any check that requires hearing
      </div>
      <div class="frightened">
        <b>Frightened</b>has disadvantage on all checks and attacks if they can
        see the source of fear, also can not move closer to fear source
      </div>
      <div class="grappled"><b>Grappled</b> stuck in place</div>
      <div class="incapacitated">
        <b>Incapacitated</b> can't take actions or reactions
      </div>
      <div class="invisibl">
        <b>Invisible</b> impossible to see without magic aid, considered heavily
        obscured, can still be heard attacks while invisible have advantage and
        attacks against an invisible target have disadvantage
      </div>
      <div class="paralyzed">
        <b>Paralyzed</b> incapacitated can't move or speak automatically fails
        STR and DEX saving throws attacking paralyzed target have advantage,
        attack hits are automatically CRITS if within 5 feet
      </div>
      <div class="petrified">
        <b>Petrified</b> creature and NON-magical items it has on person turn to
        stone, Weight is multiplied by 10, stops aging, creature in
        incapacitated unaware of surroundings, attacks against creature have
        advantage, auto fail STR and DEX saving throws, has resistance to all
        damage (half damage), immune to poison, and disease, if already poisoned
        or diseased they are paused, not cured
      </div>
      <div class="poisoned">
        <b>Poisoned</b> has disadvantage on attacks and ability checks
      </div>
      <div class="prone">
        <b>Prone</b> can only crawl, until standing up, has disadvantage on
        attacks, attacks to prone target with-in 5 ft have advantage, if more
        than five feet away the attacker has disadvantage
      </div>
      <div class="restrained">
        <b>Restrained</b> speed becomes 0, disadvantage to DEX saving throw,
        attacks v restrained creature have advantage and attacks from the
        restrained creature have disadvantage
      </div>
      <div class="stunned">
        <b>Stunned</b> becomes incapacitated, faltered speech, auto fail STR and
        DEX saving throws, attacks against creature have advantage
      </div>
      <div class="unconscious">
        <b>Unconscious</b> incapacitated, can't move, speak and is unaware of
        surroundings, immediately drops what ever it is holding and falls prone,
        auto fail STR and DEX saving throw, attack rolls against creature have
        advantage, if hit from creature with in 5 ft it is auto crit
      </div>
    </div>
    <!--====================================================================================-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/nav.js"></script>
    <script src="../javascript/conditions.js"></script>
  </body>
</html>
