<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Tangerine&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/journal.css" />
    <link rel="stylesheet" type="text/css" href="../css/nav.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../extras/jquery.min.1.7.js"></script>
    <script
      type="text/javascript"
      src="../extras/jquery-ui-1.8.20.custom.min.js"
    ></script>
    <title>Document</title>
  </head>

  <body>
    <nav id="navbar">
      <div class="logo">
        <span>The Vagabond's Almanac to DND</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="../index.html">Spells</a>
        </li>

        <li>
          <a href="./conditions.html">
            conditions
          </a>
        </li>

        <li>
          <a href="./journal.html">Journal</a>
        </li>
        <li>
          <a href="./marketPlace.html">Market Place </a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <h1>
      Prelude: the World of Ra-Aten: Kingodom of Mir-aq - City-Kisbe
    </h1>
    <p>
      The world Ra-Aten - An ancient world where society's have risen and fallen
      for many a millennia. You are currently living in the year 19,999, the new
      Epoch is upon us, and every kingdom, in every country, on every continent,
      across the globe is ravenous with prophecy and conspiracy. Many have
      forseen the end of the world at the dawn of the new year. Many of these
      soothsayers are simply phonies, frauds and snake oil sellers but some
      scattered across the globe have made predictions with uncanny accuracy
      with recent events coming to fruition, comets blazing through the sky with
      the bluest of blue tails, Volcano eruptions, resurrections, children born
      with unique abilities and markings, the appearance of miracles from one
      deity or another, you might even know of some of these events maybe your
      kingdom has sent you on a journey to discover the truth behind one of
      these.
    </p>

    <p>
      Mir-aq, our first main kingdom is knowns as the bridge to the west. Mir-aq
      is currently ruled by the Empress Nefer-ati who lives in the opulent
      capital city, Ankara located on the Western coast of the kingdom over
      looking the Pearl Sea. The queen treats her people well, slavery has been
      outlawed since the founding of the kingdom over a thousand years ago, but
      rumors are flying about the realm, whispering that the queen has
      surrounded her-self with witches, wizards and sycophants lusting for
      power, some even say her majesty has sold her soul to gain her own magical
      necrotic powers but no one can say for certain. The Empress is not married
      she has refused all, claiming that she has not found anyone worthy of her,
      and how can you blame her, her beauty is known across the globe of
      Ra-Aten.
    </p>

    <p>
      Our starting city of Kisbe is not as grand as the city of Ankara, but they
      do try, the leader of Kisbe is a man by the name of Anas he is both a
      Religious leader and Political leader with the title of Imam, being
      granted this by the Empress herself, Anas is a middle aged man who's main
      goal is to enrich Kisbe and turn it into a bustling and thriving city,
      which he is on track to do, Anas has turned Kisbe into a hot bed for
      trade, especially with one of the more northern cities of Tyr. In Kisbe
      they specialize in Textiles, known to create some of the most vibrant dyes
      in all of Mir-aq, they are known for their work with architecture, mostly
      Artistic Mosaics and tile work, and they have more recently become popular
      for a drug known only as spice, only the wealthiest of individuals use and
      consume spice, many say it allows you to see glimpses of your future, many
      have began traveling to Kisbe to get a taste of this spice. Even though
      Anas has brought a new level of prosperity to this once dusty desert town
      he is not with out his enemy's there are many that believe Anas has lost
      his religious ways sacrificing his morals for greed.
    </p>

    <p>
      Religion is central to Mir-aq, they follow the teachings of Un-Ma who is
      believed to be the Son of the Sun, Husband to the goddess Hek-ta,and the
      first of the gods to descend from the heavens. After witnessing the
      enslavement of his chosen people, the desert tribesmen, by the Kar-akis
      Empire, which still rules to the south across the pearl sea to this day.
      Legend tells that he road out of the clouds on the back of a Silver Wish
      Dragon known as Ankara, uniting the desert people and began a decade long
      Jihad against all who had enslaved the desert tribes and once all of his
      chosen people were freed they were united as one, and then he declared
      that together they would unite the world, and since that day the, Mir-aq,
      kingdom of the Sun began to grow, and eventually his initial holy site
      where Un-ma first touch down on this earth became the capital city Ankara,
      named after his treasured dragon. Legend tells that his dragon Ankara is
      still out there somewhere waiting for the return of her master
    </p>
    <!-- <div id="mapMirAq"> -->
    <img src="../images/cities/rone-Sa.jpg" />
    <img src="../images/cities/RenderedImage.jpg" />

    <!-- </div> -->
    <!--====================================================================================-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="../javascript/nav.js"></script>
  </body>
</html>
