<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Tangerine&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/marketPlace.css" />
    <link rel="stylesheet" type="text/css" href="../css/nav.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../extras/jquery.min.1.7.js"></script>
    <script
      type="text/javascript"
      src="../extras/jquery-ui-1.8.20.custom.min.js"
    ></script>

    <title>shop</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <span>The Vagabond's Almanac to DND</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="../index.html">home </a>
        </li>

        <li>
          <a href="./conditions.html">
            conditions
          </a>
        </li>

        <li>
          <a href="./journal.html">Journal</a>
        </li>
        <li>
          <a href="#">Market Place </a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <h1>Market Place</h1>
    <div class="marketContainer">
      <p><b>Name:</b> <span id="itemName"></span></p>
      <p><b>Price: </b><span id="itemPrice"></span></p>
      <p><b>Weight: </b><span id="itemWeight"></span></p>

      <p><b>description 1: </b><span id="description1"></span></p>
      <p><b>description 2: </b><span id="description2"></span></p>
      <p><b>description 3: </b><span id="description3"></span></p>

      <div>
        <form class="form" id="equipmentForm">
          <input type="text" id="equipmentInput" placeholder="equipment-name" />
          <!-- <input type="submit" id="spellSubmit" onclick="spellSearch()" /> -->
        </form>

        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalLong"
        >
          shop List
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModalLong"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLongTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  Modal title
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ol id="equipmentList"></ol>
                ...
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====================================================================================-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/marketPlace.js"></script>
    <script src="../javascript/nav.js"></script>
  </body>
</html>
